In [17]:
import pandas
import numpy
import pygsheets
import scipy.stats
import datetime
b
import matplotlib
import matplotlib.pyplot as mp

In [18]:
pandas.__version__

'1.5.0'

## import terminals data from sheet

In [19]:
credentials_directory = '/Users/baird/Dropbox/_google-api/'
gc = pygsheets.authorize(client_secret=credentials_directory+'client_secret.json')
spreadsheet = gc.open_by_key('1gAo21abcKUW9r60qWKTAslbMe8vnAZ5voVEFdJ9-aAo') # copy for Jenny's report 2022
#spreadsheet = gc.open_by_key('189zmqmRp1aj8ytDfWk5kTQmDIsahPrRbS_2QC68SCzA') # copy for 2022 report

#spreadsheet[1] "Gas Pipelines" tab is the second index
terms_df_orig = spreadsheet.worksheet('title', 'Terminals').get_as_df(start='A2')

In [20]:
# replace all -- with nans
terms_df_orig.replace('--', numpy.nan, inplace=True)
# remove oil export terminals
terms_df_orig = terms_df_orig.loc[terms_df_orig['Fuel']!='Oil']
# remove anything without a wiki page
terms_df_orig = terms_df_orig.loc[terms_df_orig['Wiki']!='']
# remove N/A statuses
terms_df_orig = terms_df_orig.loc[terms_df_orig['Status']!='']

In [21]:
region_df_orig = spreadsheet.worksheet('title', 'Region dictionary').get_as_df()
region_df_africa = region_df_orig.loc[(region_df_orig['AfricaGasTracker']=='Yes')]
region_df_touse = region_df_africa.copy()

In [22]:
status_list = ['Proposed', 'Construction', 'Shelved', 'Cancelled', 'Operating', 'Idle', 'Mothballed', 'Retired']
country_list = sorted(list(set(terms_df_orig['Country'])))
region_list = sorted(list(set(terms_df_orig['Region'])))

## table for exports

In [23]:
#mtpa by country
mtpa_by_country_df = pandas.DataFrame(columns=status_list, index=country_list)
mtpa_by_region_df = pandas.DataFrame(columns=status_list, index=region_list)

for status in status_list:
    #print(status)
    temp_df = terms_df_orig.loc[(terms_df_orig.Fuel=='LNG')&
                                                   (terms_df_orig['Import/Export']=='Export')&
                                                   (terms_df_orig.Status==status)]
    mtpa_by_country_df[status] = temp_df.groupby('Country')['CapacityInMtpa'].sum()

for status in status_list:
    #print(status)
    temp_df = terms_df_orig.loc[(terms_df_orig.Fuel=='LNG')&
                                                  (terms_df_orig['Import/Export']=='Export')&
                                                  (terms_df_orig.Status==status)]
    mtpa_by_region_df[status] = temp_df.groupby('Region')['CapacityInMtpa'].sum()

mtpa_by_country_df = mtpa_by_country_df.fillna(0)
mtpa_by_region_df = mtpa_by_region_df.fillna(0)

# add total and proposed+construction info
mtpa_by_region_df['Proposed+Construction'] = mtpa_by_region_df[['Proposed','Construction']].sum(axis=1)
mtpa_by_region_df.sort_values(by='Proposed+Construction', inplace=True)
mtpa_by_region_df = mtpa_by_region_df[['Proposed', 'Construction', 'Proposed+Construction', 'Shelved', 'Cancelled', 'Operating', 'Idle', 'Mothballed', 'Retired']]
mtpa_by_region_df.sort_values('Proposed+Construction', ascending=False, inplace=True)

mtpa_by_country_df['Proposed+Construction'] = mtpa_by_country_df[['Proposed','Construction']].sum(axis=1)
mtpa_by_country_df.sort_values(by='Proposed+Construction', inplace=True)
mtpa_by_country_df = mtpa_by_country_df[['Proposed', 'Construction', 'Proposed+Construction', 'Shelved', 'Cancelled', 'Operating', 'Idle', 'Mothballed', 'Retired']]
mtpa_by_country_df.sort_values('Proposed+Construction', ascending=False, inplace=True)

# total
if 'Total' in mtpa_by_region_df.index:
    mtpa_by_region_df.drop(index='Total', inplace=True)   
    total = mtpa_by_region_df.sum(axis=0)
    total.name='Total'
    mtpa_by_region_df = mtpa_by_region_df.append(total)

else:
    total = mtpa_by_region_df.sum(axis=0)
    total.name='Total'
    mtpa_by_region_df = mtpa_by_region_df.append(total)

# total
if 'Total' in mtpa_by_country_df.index:
    mtpa_by_country_df.drop(index='Total', inplace=True)   
    total = mtpa_by_country_df.sum(axis=0)
    total.name='Total'
    mtpa_by_country_df = mtpa_by_country_df.append(total)

else:
    total = mtpa_by_country_df.sum(axis=0)
    total.name='Total'
    mtpa_by_country_df = mtpa_by_country_df.append(total)

# save countries
mtpa_by_country_df = mtpa_by_country_df.loc[~(mtpa_by_country_df==0).all(axis=1)]
mtpa_by_country_df.to_excel('mtpa-by-country-export.xlsx')

mtpa_by_region_export_df = mtpa_by_region_df.copy()
mtpa_by_country_export_df = mtpa_by_country_df.copy()

mtpa_by_region_df

/var/folders/h5/nfk59_vx7gg_58myc9jfk7_40000gn/T/ipykernel_68230/1996867698.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mtpa_by_region_df = mtpa_by_region_df.append(total)
/var/folders/h5/nfk59_vx7gg_58myc9jfk7_40000gn/T/ipykernel_68230/1996867698.py:55: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mtpa_by_country_df = mtpa_by_country_df.append(total)

,Proposed,Construction,Proposed+Construction,Shelved,Cancelled,Operating,Idle,Mothballed,Retired
North America,421.15,39.36,460.51,12.29,444.11,73.90,15.3,1.50,0.0
Eurasia,115.40,19.60,135.00,14.42,16.36,30.60,0.0,0.00,0.0
Sub-Saharan Africa,55.82,13.92,69.74,34.10,27.39,34.32,0.0,0.00,0.0
Middle East and North Africa,63.60,1.07,64.67,22.00,87.75,136.94,0.0,10.40,7.8
SE Asia,19.50,5.80,25.30,1.50,12.55,66.65,0.0,0.00,30.1
Australia and New Zealand,20.10,0.00,20.10,7.20,45.80,87.60,0.0,0.00,0.0
Latin America and the Caribbean,5.37,0.00,5.37,0.00,16.60,16.45,0.0,3.75,0.0
East Asia,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0
Europe,0.00,0.00,0.00,0.00,5.04,4.68,0.0,0.00,0.0
South Asia,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.0
Total,700.94,79.75,780.69,91.51,655.60,451.14,15.3,15.65,37.9

## table for imports

In [24]:
#mtpa by country
mtpa_by_country_df = pandas.DataFrame(columns=status_list, index=country_list)
mtpa_by_region_df = pandas.DataFrame(columns=status_list, index=region_list)

for status in status_list:
    #print(status)
    temp_df = terms_df_orig.loc[(terms_df_orig.Fuel=='LNG')&
                                                   (terms_df_orig['Import/Export']=='Import')&
                                                   (terms_df_orig.Status==status)]
    mtpa_by_country_df[status] = temp_df.groupby('Country')['CapacityInMtpa'].sum()

for status in status_list:
    #print(status)
    temp_df = terms_df_orig.loc[(terms_df_orig.Fuel=='LNG')&
                                                  (terms_df_orig['Import/Export']=='Import')&
                                                  (terms_df_orig.Status==status)]
    mtpa_by_region_df[status] = temp_df.groupby('Region')['CapacityInMtpa'].sum()

mtpa_by_country_df = mtpa_by_country_df.fillna(0)
mtpa_by_region_df = mtpa_by_region_df.fillna(0)

# add total and proposed+construction info
mtpa_by_region_df['Proposed+Construction'] = mtpa_by_region_df[['Proposed','Construction']].sum(axis=1)
mtpa_by_region_df.sort_values(by='Proposed+Construction', inplace=True)
mtpa_by_region_df = mtpa_by_region_df[['Proposed', 'Construction', 'Proposed+Construction', 'Shelved', 'Cancelled', 'Operating', 'Idle', 'Mothballed', 'Retired']]
mtpa_by_region_df.sort_values('Proposed+Construction', ascending=False, inplace=True)

mtpa_by_country_df['Proposed+Construction'] = mtpa_by_country_df[['Proposed','Construction']].sum(axis=1)
mtpa_by_country_df.sort_values(by='Proposed+Construction', inplace=True)
mtpa_by_country_df = mtpa_by_country_df[['Proposed', 'Construction', 'Proposed+Construction', 'Shelved', 'Cancelled', 'Operating', 'Idle', 'Mothballed', 'Retired']]
mtpa_by_country_df.sort_values('Proposed+Construction', ascending=False, inplace=True)

# total
if 'Total' in mtpa_by_region_df.index:
    mtpa_by_region_df.drop(index='Total', inplace=True)   
    total = mtpa_by_region_df.sum(axis=0)
    total.name='Total'
    mtpa_by_region_df = mtpa_by_region_df.append(total)

else:
    total = mtpa_by_region_df.sum(axis=0)
    total.name='Total'
    mtpa_by_region_df = mtpa_by_region_df.append(total)

# total
if 'Total' in mtpa_by_country_df.index:
    mtpa_by_country_df.drop(index='Total', inplace=True)   
    total = mtpa_by_country_df.sum(axis=0)
    total.name='Total'
    mtpa_by_country_df = mtpa_by_country_df.append(total)

else:
    total = mtpa_by_country_df.sum(axis=0)
    total.name='Total'
    mtpa_by_country_df = mtpa_by_country_df.append(total)

# save countries
# drop all all-zero columns
mtpa_by_country_df = mtpa_by_country_df.loc[~(mtpa_by_country_df==0).all(axis=1)]
mtpa_by_country_df.to_excel('mtpa-by-country-import.xlsx')

mtpa_by_region_import_df = mtpa_by_region_df.copy()
mtpa_by_country_import_df = mtpa_by_country_df.copy()

mtpa_by_region_df

/var/folders/h5/nfk59_vx7gg_58myc9jfk7_40000gn/T/ipykernel_68230/1390453538.py:43: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mtpa_by_region_df = mtpa_by_region_df.append(total)
/var/folders/h5/nfk59_vx7gg_58myc9jfk7_40000gn/T/ipykernel_68230/1390453538.py:55: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  mtpa_by_country_df = mtpa_by_country_df.append(total)

,Proposed,Construction,Proposed+Construction,Shelved,Cancelled,Operating,Idle,Mothballed,Retired
East Asia,149.76,91.25,241.01,25.80,54.49,444.10,0.0,1.5,0.0
Europe,139.42,25.30,164.72,14.20,91.24,181.03,0.0,0.0,3.0
South Asia,68.00,33.00,101.00,5.68,80.95,65.20,0.0,0.0,0.0
SE Asia,78.55,21.66,100.21,11.10,28.34,45.05,0.0,0.0,0.0
Latin America and the Caribbean,43.48,12.28,55.76,6.46,16.07,53.36,0.0,0.0,0.0
Sub-Saharan Africa,6.88,1.70,8.58,0.50,7.70,0.11,0.0,0.0,0.0
Australia and New Zealand,3.30,1.90,5.20,0.00,1.75,0.00,0.0,0.0,0.0
Middle East and North Africa,5.15,0.00,5.15,11.10,18.64,48.90,11.8,0.0,0.0
North America,0.05,0.00,0.05,0.00,268.42,81.10,25.0,45.0,17.3
Eurasia,0.00,0.00,0.00,0.00,0.00,12.20,0.0,0.0,0.0
Total,494.59,187.09,681.68,74.84,567.60,931.05,36.8,46.5,20.3

# cost calculations

## create offshore and floating dfs

In [25]:
# insane outliers
# Ravenna - T068300
# Gorgon LNG (megaproject) - T068300
# Tanzania LNG Terminal trains 1, 2 - T026301, T026302
# Coral South FLNG Terminal - includes deep gas well construction - T025801
outlier_comboids = ['T068300','T068300','T026301','T026302','T025801']

In [26]:
terms_df_floating = terms_df_orig.loc[terms_df_orig.Floating=='yes']
terms_df_onshore = terms_df_orig.loc[terms_df_orig.Floating=='']

#terms_df_floating = terms_df_floating.loc[~terms_df_floating.ComboID.isin(outlier_comboids)]
#terms_df_onshore = terms_df_onshore.loc[~terms_df_onshore.ComboID.isin(outlier_comboids)]
terms_df_floating = terms_df_floating.loc[terms_df_floating.CostUSDPerMtpa<1e9]
terms_df_onshore = terms_df_onshore.loc[terms_df_onshore.CostUSDPerMtpa<1e9]

terms_df_orig['CapacityInMtpa'] = terms_df_orig['CapacityInMtpa'].astype(float)#.plot('CapacityInMtpa','CostEstUSD')
terms_df_orig['CostEstUSD'] = terms_df_orig['CostEstUSD'].astype(float)
terms_df_orig.plot.scatter('CapacityInMtpa','CostEstUSD')

In [27]:
terms_df_floating_noexpansions = terms_df_floating.loc[~terms_df_floating['UnitName'].str.contains('Expansion')].drop_duplicates(subset=['TerminalName'], keep='first')
terms_df_onshore_noexpansions = terms_df_onshore.loc[~terms_df_onshore['UnitName'].str.contains('Expansion')].drop_duplicates(subset=['TerminalName'], keep='first')

## import

In [28]:
terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_floating_noexpansions['Import/Export']=='Import')][['TerminalName', 'Country', 'Status', 'Wiki','CostUSDPerMtpa']].style.hide_index()

/var/folders/h5/nfk59_vx7gg_58myc9jfk7_40000gn/T/ipykernel_68230/935618189.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&

In [29]:
terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_onshore_noexpansions['Import/Export']=='Import')][['TerminalName', 'Country', 'Status', 'Wiki','CostUSDPerMtpa']].style.hide_index()

/var/folders/h5/nfk59_vx7gg_58myc9jfk7_40000gn/T/ipykernel_68230/1041829456.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&

## export list

In [30]:
terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_floating_noexpansions['Import/Export']=='Export')][['TerminalName', 'Country', 'Status', 'Wiki','CostUSDPerMtpa']].style.hide_index()

/var/folders/h5/nfk59_vx7gg_58myc9jfk7_40000gn/T/ipykernel_68230/391694351.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&

In [31]:
terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_onshore_noexpansions['Import/Export']=='Export')][['TerminalName', 'Country', 'Status', 'Wiki','CostUSDPerMtpa']].style.hide_index()

/var/folders/h5/nfk59_vx7gg_58myc9jfk7_40000gn/T/ipykernel_68230/978177273.py:1: FutureWarning: this method is deprecated in favour of `Styler.hide(axis="index")`
  terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&

### make dataframe to use for terminal calculations

* regional averages for onshore terminals
  * fewer than 3 data points, then apply a global value rather than a regional one!
* global averages for offshore terminals

In [32]:
onshore_export_regional_costs = pandas.DataFrame(index=region_list)

onshore_export_regional_costs['NumberOfDataPoints'] = terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_onshore_noexpansions['Import/Export']=='Export')].groupby('Region')[['CostUSDPerMtpa']].count()

onshore_export_regional_costs['RegionalCostUSDPerMtpa'] = terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_onshore_noexpansions['Import/Export']=='Export')].groupby('Region')[['CostUSDPerMtpa']].mean()

onshore_export_regional_costs.loc[(onshore_export_regional_costs.NumberOfDataPoints<3) | 
                                  (onshore_export_regional_costs.NumberOfDataPoints.isnull()), 
                                  'RegionalCostUSDPerMtpa'] = \
terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_onshore_noexpansions['Import/Export']=='Export')][['CostUSDPerMtpa']].mean().values[0]
print('export onshore')
onshore_export_regional_costs['RegionalCostUSDPerMtpa'] = onshore_export_regional_costs['RegionalCostUSDPerMtpa']
onshore_export_regional_costs

export onshore

                                 NumberOfDataPoints  RegionalCostUSDPerMtpa
Australia and New Zealand                       4.0            5.949954e+08
East Asia                                       NaN            5.892177e+08
Eurasia                                         1.0            5.892177e+08
Europe                                          NaN            5.892177e+08
Latin America and the Caribbean                 3.0            5.239181e+08
Middle East and North Africa                    6.0            5.447671e+08
North America                                  12.0            5.779734e+08
SE Asia                                         1.0            5.892177e+08
South Asia                                      NaN            5.892177e+08
Sub-Saharan Africa                              5.0            6.235952e+08

In [33]:
onshore_import_regional_costs = pandas.DataFrame(index=region_list)

onshore_import_regional_costs['NumberOfDataPoints'] = terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_onshore_noexpansions['Import/Export']=='Import')].groupby('Region')[['CostUSDPerMtpa']].count()

onshore_import_regional_costs['RegionalCostUSDPerMtpa'] = terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_onshore_noexpansions['Import/Export']=='Import')].groupby('Region')[['CostUSDPerMtpa']].mean()

onshore_import_regional_costs.loc[(onshore_import_regional_costs.NumberOfDataPoints<3) | 
                                  (onshore_import_regional_costs.NumberOfDataPoints.isnull()), 
                                  'RegionalCostUSDPerMtpa'] = \
terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_onshore_noexpansions['Import/Export']=='Import')][['CostUSDPerMtpa']].mean().values[0]
print('import onshore')
onshore_import_regional_costs['RegionalCostUSDPerMtpa'] = onshore_import_regional_costs['RegionalCostUSDPerMtpa']
onshore_import_regional_costs

import onshore

                                 NumberOfDataPoints  RegionalCostUSDPerMtpa
Australia and New Zealand                       1.0            2.696893e+08
East Asia                                      15.0            3.516386e+08
Eurasia                                         NaN            2.696893e+08
Europe                                         15.0            2.325106e+08
Latin America and the Caribbean                 4.0            3.104855e+08
Middle East and North Africa                    2.0            2.696893e+08
North America                                   2.0            2.696893e+08
SE Asia                                        11.0            1.851841e+08
South Asia                                      5.0            2.557763e+08
Sub-Saharan Africa                              NaN            2.696893e+08

In [34]:
floating_export_regional_costs = pandas.DataFrame(index=region_list)

floating_export_regional_costs['NumberOfDataPoints'] = terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_floating_noexpansions['Import/Export']=='Export')].groupby('Region')[['CostUSDPerMtpa']].count()

floating_export_regional_costs['RegionalCostUSDPerMtpa'] = terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_floating_noexpansions['Import/Export']=='Export')].groupby('Region')[['CostUSDPerMtpa']].mean()

floating_export_regional_costs.loc[:,
                                #(floating_export_regional_costs.NumberOfDataPoints<3) | 
                                #  (floating_export_regional_costs.NumberOfDataPoints.isnull()), 
                                  'RegionalCostUSDPerMtpa'] = \
terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_floating_noexpansions['Import/Export']=='Export')][['CostUSDPerMtpa']].mean().values[0]
print('export floating')
floating_export_regional_costs['RegionalCostUSDPerMtpa'] = floating_export_regional_costs['RegionalCostUSDPerMtpa']
floating_export_regional_costs

export floating

                                 NumberOfDataPoints  RegionalCostUSDPerMtpa
Australia and New Zealand                       NaN            5.674729e+08
East Asia                                       NaN            5.674729e+08
Eurasia                                         1.0            5.674729e+08
Europe                                          NaN            5.674729e+08
Latin America and the Caribbean                 NaN            5.674729e+08
Middle East and North Africa                    NaN            5.674729e+08
North America                                   4.0            5.674729e+08
SE Asia                                         NaN            5.674729e+08
South Asia                                      NaN            5.674729e+08
Sub-Saharan Africa                              4.0            5.674729e+08

In [35]:
floating_import_regional_costs = pandas.DataFrame(index=region_list)

floating_import_regional_costs['NumberOfDataPoints'] = terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_floating_noexpansions['Import/Export']=='Import')].groupby('Region')[['CostUSDPerMtpa']].count()

floating_import_regional_costs['RegionalCostUSDPerMtpa'] = terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_floating_noexpansions['Import/Export']=='Import')].groupby('Region')[['CostUSDPerMtpa']].mean()

floating_import_regional_costs.loc[:,
                                   #(floating_import_regional_costs.NumberOfDataPoints<3) | 
                                  #(floating_import_regional_costs.NumberOfDataPoints.isnull()), 
                                  'RegionalCostUSDPerMtpa'] = \
terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_floating_noexpansions['Import/Export']=='Import')][['CostUSDPerMtpa']].mean().values[0]
print('import floating')
floating_import_regional_costs['RegionalCostUSDPerMtpa'] = floating_import_regional_costs['RegionalCostUSDPerMtpa']
floating_import_regional_costs

import floating

                                 NumberOfDataPoints  RegionalCostUSDPerMtpa
Australia and New Zealand                       3.0            1.376477e+08
East Asia                                       NaN            1.376477e+08
Eurasia                                         NaN            1.376477e+08
Europe                                         14.0            1.376477e+08
Latin America and the Caribbean                 3.0            1.376477e+08
Middle East and North Africa                    NaN            1.376477e+08
North America                                   NaN            1.376477e+08
SE Asia                                         4.0            1.376477e+08
South Asia                                      8.0            1.376477e+08
Sub-Saharan Africa                              2.0            1.376477e+08

### global calculations

In [36]:
cost_onshore_export = terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_onshore_noexpansions['Import/Export']=='Export')][['CostUSDPerMtpa']].mean().values
cost_onshore_export_std = terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_onshore_noexpansions['Import/Export']=='Export')][['CostUSDPerMtpa']].std().values

cost_floating_export = terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_floating_noexpansions['Import/Export']=='Export')][['CostUSDPerMtpa']].mean().values
cost_floating_export_error = terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_floating_noexpansions['Import/Export']=='Export')][['CostUSDPerMtpa']].std().values

cost_onshore_import = terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_onshore_noexpansions['Import/Export']=='Import')][['CostUSDPerMtpa']].mean().values
cost_onshore_import_error = terms_df_onshore_noexpansions.loc[(~terms_df_onshore_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_onshore_noexpansions['Import/Export']=='Import')][['CostUSDPerMtpa']].std().values

cost_floating_import = terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_floating_noexpansions['Import/Export']=='Import')][['CostUSDPerMtpa']].mean().values
cost_floating_import_error = terms_df_floating_noexpansions.loc[(~terms_df_floating_noexpansions.loc[:,'CostUSDPerMtpa'].isna())&
                                   (terms_df_floating_noexpansions['Import/Export']=='Import')][['CostUSDPerMtpa']].std().values

In [37]:
cost_onshore_export

array([5.89217718e+08])

In [38]:
cost_floating_export

array([5.67472856e+08])

In [39]:
cost_onshore_import

array([2.69689349e+08])

In [40]:
cost_floating_import

array([1.3764766e+08])

### calculate how much export/import capacity data we have

In [41]:
terms_df_costs_exist = terms_df_orig.loc[~terms_df_orig.CostUSDPerMtpa.isnull()]
terms_df_costs_exist.to_excel('available-cost-data.xlsx', index=False)

In [42]:
#% of import terms that we have a capacity for?
print(terms_df_orig.loc[(terms_df_orig['Import/Export']=='Import')].shape)
print(terms_df_orig.loc[(terms_df_orig['Import/Export']=='Import')&
                  (~terms_df_orig['CapacityInMtpa'].isnull())].shape)
print(510/587 * 100)

(609, 77)
(516, 77)
86.88245315161839

In [43]:
#% of export terms that we have a capacity for?
print(terms_df_orig.loc[(terms_df_orig['Import/Export']=='Export')].shape)
print(terms_df_orig.loc[(terms_df_orig['Import/Export']=='Export')&
                  (~terms_df_orig['CapacityInMtpa'].isnull())].shape)
print(542/560 * 100)

(569, 77)
(550, 77)
96.78571428571429

In [44]:
floating_import_regional_costs.loc['Australia and New Zealand','RegionalCostUSDPerMtpa']

137647660.13235295

## now calculate the import terminal costs

In [45]:
terms_df_import = terms_df_orig.loc[terms_df_orig['Import/Export']=='Import'].reset_index(drop=True)

terms_df_import['CostUSDTotal'] = numpy.nan

# for import
for region in region_list:
    # for floating
    terms_df_import.loc[(terms_df_import['Floating']=='yes')&(terms_df_import['Region']==region),'CostUSDTotal'] = \
    terms_df_import.loc[(terms_df_import['Floating']=='yes')&(terms_df_import['Region']==region),'CapacityInMtpa'] * \
    floating_import_regional_costs.loc[region,'RegionalCostUSDPerMtpa']
    # for onshore
    terms_df_import.loc[(terms_df_import['Floating']!='yes')&(terms_df_import['Region']==region),'CostUSDTotal'] = \
    terms_df_import.loc[(terms_df_import['Floating']!='yes')&(terms_df_import['Region']==region),'CapacityInMtpa'] * \
    onshore_import_regional_costs.loc[region,'RegionalCostUSDPerMtpa']   

# now replace the ones that we have exact numbers for...
costs_exist_TF = ~terms_df_import['CostEstUSD'].isna()
terms_df_import.loc[costs_exist_TF,'CostUSDTotal'] = \
    terms_df_import[costs_exist_TF]['CostEstUSD']

## and calculate export terminal costs

In [46]:
terms_df_export = terms_df_orig.loc[terms_df_orig['Import/Export']=='Export'].reset_index(drop=True)

terms_df_export['CostUSDTotal'] = numpy.nan

# for import
for region in region_list:
    # for floating
    terms_df_export.loc[(terms_df_export['Floating']=='yes')&(terms_df_export['Region']==region),'CostUSDTotal'] = \
    terms_df_export.loc[(terms_df_export['Floating']=='yes')&(terms_df_export['Region']==region),'CapacityInMtpa'] * \
    floating_export_regional_costs.loc[region,'RegionalCostUSDPerMtpa']
    # for onshore
    terms_df_export.loc[(terms_df_export['Floating']!='yes')&(terms_df_export['Region']==region),'CostUSDTotal'] = \
    terms_df_export.loc[(terms_df_export['Floating']!='yes')&(terms_df_export['Region']==region),'CapacityInMtpa'] * \
    onshore_export_regional_costs.loc[region,'RegionalCostUSDPerMtpa']   

# now replace the ones that we have exact numbers for...
costs_exist_TF = ~terms_df_export['CostEstUSD'].isna()
terms_df_export.loc[costs_exist_TF,'CostUSDTotal'] = \
    terms_df_export[costs_exist_TF]['CostEstUSD']

## import terminal costs table

In [47]:
#mtpa by country
cost_by_country_import_df = pandas.DataFrame(columns=status_list, index=country_list)
cost_by_region_import_df = pandas.DataFrame(columns=status_list, index=region_list)

for status in status_list:
    #print(status)
    cost_by_country_import_df[status] = terms_df_import.loc[terms_df_import.Status==status].groupby('Country')['CostUSDTotal'].sum(min_count=1)

for status in status_list:
    #print(status)
    cost_by_region_import_df[status] = terms_df_import.loc[terms_df_import.Status==status].groupby('Region')['CostUSDTotal'].sum(min_count=1)

cost_by_country_import_df = cost_by_country_import_df.fillna(0)
cost_by_region_import_df = cost_by_region_import_df.fillna(0)

# add total and proposed+construction info
cost_by_region_import_df['Proposed+Construction'] = cost_by_region_import_df[['Proposed','Construction']].sum(axis=1)
cost_by_region_import_df.sort_values(by='Proposed+Construction', inplace=True)
cost_by_region_import_df = cost_by_region_import_df[['Proposed', 'Construction', 'Proposed+Construction', 'Shelved', 'Cancelled', 'Operating', 'Idle', 'Mothballed', 'Retired']]
cost_by_region_import_df.sort_values('Proposed+Construction', ascending=False, inplace=True)

cost_by_country_import_df['Proposed+Construction'] = cost_by_country_import_df[['Proposed','Construction']].sum(axis=1)
cost_by_country_import_df.sort_values(by='Proposed+Construction', inplace=True)
cost_by_country_import_df = cost_by_country_import_df[['Proposed', 'Construction', 'Proposed+Construction', 'Shelved', 'Cancelled', 'Operating', 'Idle', 'Mothballed', 'Retired']]
cost_by_country_import_df.sort_values('Proposed+Construction', ascending=False, inplace=True)

# total
if 'Total' in cost_by_region_import_df.index:
    cost_by_region_import_df.drop(index='Total', inplace=True)   
    total = cost_by_region_import_df.sum(axis=0)
    total.name='Total'
    cost_by_region_import_df = cost_by_region_import_df.append(total)

else:
    total = cost_by_region_import_df.sum(axis=0)
    total.name='Total'
    cost_by_region_import_df = cost_by_region_import_df.append(total)

# total
if 'Total' in cost_by_country_import_df.index:
    cost_by_country_import_df.drop(index='Total', inplace=True)   
    total = cost_by_country_import_df.sum(axis=0)
    total.name='Total'
    cost_by_country_import_df = cost_by_country_import_df.append(total)

else:
    total = cost_by_country_import_df.sum(axis=0)
    total.name='Total'
    cost_by_country_import_df = cost_by_country_import_df.append(total)

# save countries
cost_by_country_import_df = cost_by_country_import_df.loc[~(cost_by_country_import_df==0).all(axis=1)]
cost_by_country_import_df.to_excel('cost-by-country-import.xlsx')

cost_by_region_import_df/1e9

/var/folders/h5/nfk59_vx7gg_58myc9jfk7_40000gn/T/ipykernel_68230/1881541370.py:37: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cost_by_region_import_df = cost_by_region_import_df.append(total)
/var/folders/h5/nfk59_vx7gg_58myc9jfk7_40000gn/T/ipykernel_68230/1881541370.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cost_by_country_import_df = cost_by_country_import_df.append(total)

,Proposed,Construction,Proposed+Construction,Shelved,Cancelled,Operating,Idle,Mothballed,Retired
East Asia,49.999150,31.296423,81.295573,7.144935,18.518813,154.534518,0.000000,0.527458,0.000000
Europe,26.259428,3.219384,29.478813,3.129799,18.624343,40.037091,0.000000,0.000000,0.412943
SE Asia,18.148108,2.733742,20.881850,3.698259,7.215494,6.982052,0.000000,0.000000,0.000000
South Asia,11.548361,6.539450,18.087811,0.924543,15.682637,14.250795,0.000000,0.000000,0.000000
Latin America and the Caribbean,4.636187,1.690313,6.326500,0.889204,4.384569,8.812590,0.000000,0.000000,0.000000
Middle East and North Africa,4.500000,0.000000,4.500000,1.527889,5.027009,8.571677,1.624242,0.000000,0.000000
Sub-Saharan Africa,3.177601,0.350000,3.527601,0.068824,1.059887,0.015141,0.000000,0.000000,0.000000
Australia and New Zealand,0.716910,0.172500,0.889410,0.000000,0.172500,0.000000,0.000000,0.000000,0.000000
North America,0.013484,0.000000,0.013484,0.000000,64.828924,20.459890,6.346109,12.136021,4.665626
Eurasia,0.000000,0.000000,0.000000,0.000000,0.000000,2.933697,0.000000,0.000000,0.000000
Total,118.999231,46.001812,165.001043,17.383453,135.514176,256.597452,7.970351,12.663479,5.078569

## export terminal costs table

In [48]:
#mtpa by country
cost_by_country_export_df = pandas.DataFrame(columns=status_list, index=country_list)
cost_by_region_export_df = pandas.DataFrame(columns=status_list, index=region_list)

for status in status_list:
    #print(status)
    cost_by_country_export_df[status] = terms_df_export.loc[terms_df_export.Status==status].groupby('Country')['CostUSDTotal'].sum(min_count=1)

for status in status_list:
    #print(status)
    cost_by_region_export_df[status] = terms_df_export.loc[terms_df_export.Status==status].groupby('Region')['CostUSDTotal'].sum(min_count=1)

cost_by_country_export_df = cost_by_country_export_df.fillna(0)
cost_by_region_export_df = cost_by_region_export_df.fillna(0)

# add total and proposed+construction info
cost_by_region_export_df['Proposed+Construction'] = cost_by_region_export_df[['Proposed','Construction']].sum(axis=1)
cost_by_region_export_df.sort_values(by='Proposed+Construction', inplace=True)
cost_by_region_export_df = cost_by_region_export_df[['Proposed', 'Construction', 'Proposed+Construction', 'Shelved', 'Cancelled', 'Operating', 'Idle', 'Mothballed', 'Retired']]
cost_by_region_export_df.sort_values('Proposed+Construction', ascending=False, inplace=True)

cost_by_country_export_df['Proposed+Construction'] = cost_by_country_export_df[['Proposed','Construction']].sum(axis=1)
cost_by_country_export_df.sort_values(by='Proposed+Construction', inplace=True)
cost_by_country_export_df = cost_by_country_export_df[['Proposed', 'Construction', 'Proposed+Construction', 'Shelved', 'Cancelled', 'Operating', 'Idle', 'Mothballed', 'Retired']]
cost_by_country_export_df.sort_values('Proposed+Construction', ascending=False, inplace=True)

# total
if 'Total' in cost_by_region_export_df.index:
    cost_by_region_export_df.drop(index='Total', inplace=True)   
    total = cost_by_region_export_df.sum(axis=0)
    total.name='Total'
    cost_by_region_export_df = cost_by_region_export_df.append(total)

else:
    total = cost_by_region_export_df.sum(axis=0)
    total.name='Total'
    cost_by_region_export_df = cost_by_region_export_df.append(total)

# total
if 'Total' in cost_by_country_export_df.index:
    cost_by_country_export_df.drop(index='Total', inplace=True)   
    total = cost_by_country_export_df.sum(axis=0)
    total.name='Total'
    cost_by_country_export_df = cost_by_country_export_df.append(total)

else:
    total = cost_by_country_export_df.sum(axis=0)
    total.name='Total'
    cost_by_country_export_df = cost_by_country_export_df.append(total)

# save countries
cost_by_country_export_df = cost_by_country_export_df.loc[~(cost_by_country_export_df==0).all(axis=1)]
cost_by_country_export_df.to_excel('cost-by-country-export.xlsx')

cost_by_region_export_df/1e9

/var/folders/h5/nfk59_vx7gg_58myc9jfk7_40000gn/T/ipykernel_68230/1105072155.py:37: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cost_by_region_export_df = cost_by_region_export_df.append(total)
/var/folders/h5/nfk59_vx7gg_58myc9jfk7_40000gn/T/ipykernel_68230/1105072155.py:49: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cost_by_country_export_df = cost_by_country_export_df.append(total)

,Proposed,Construction,Proposed+Construction,Shelved,Cancelled,Operating,Idle,Mothballed,Retired
North America,291.079718,30.201867,321.281585,11.164123,255.674029,42.712233,8.842993,0.866960,0.000000
Eurasia,72.223061,19.100000,91.323061,14.918846,11.678511,18.030062,0.000000,0.000000,0.000000
Sub-Saharan Africa,73.680642,15.001305,88.681947,24.680967,17.401679,26.993814,0.000000,0.000000,0.000000
Middle East and North Africa,54.317129,0.582901,54.900029,11.984877,58.593035,68.074428,0.000000,5.665578,4.249184
SE Asia,36.551966,2.378435,38.930402,0.883827,12.031095,55.565653,0.000000,0.000000,17.735453
Australia and New Zealand,28.301483,0.000000,28.301483,17.250000,30.920755,176.846423,0.000000,0.000000,0.000000
Latin America and the Caribbean,10.000000,0.000000,10.000000,0.000000,8.740743,6.481188,0.000000,0.974175,0.000000
East Asia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Europe,0.000000,0.000000,0.000000,0.000000,6.000000,6.182825,0.000000,0.000000,0.000000
South Asia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Total,566.153998,67.264508,633.418507,80.882639,401.039847,400.886625,8.842993,7.506713,21.984637

# calculate what Christine needs for Africa briefing

In [49]:
cost_by_country_export_df

,Proposed,Construction,Proposed+Construction,Shelved,Cancelled,Operating,Idle,Mothballed,Retired
United States,2.010470e+11,1.232345e+10,2.133705e+11,1.164123e+09,9.425091e+10,4.268333e+10,8.842993e+09,8.669601e+08,0.000000e+00
Russia,7.222306e+10,1.910000e+10,9.132306e+10,1.491885e+10,1.167851e+10,1.791222e+10,0.000000e+00,0.000000e+00,0.000000e+00
Canada,5.586079e+10,1.600000e+10,7.186079e+10,1.000000e+10,1.585332e+11,2.889867e+07,0.000000e+00,0.000000e+00,0.000000e+00
Qatar,4.625000e+10,0.000000e+00,4.625000e+10,0.000000e+00,0.000000e+00,3.907178e+10,0.000000e+00,0.000000e+00,0.000000e+00
Mexico,3.417192e+10,1.878413e+09,3.605034e+10,0.000000e+00,2.889867e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Mozambique,2.400000e+10,7.000000e+09,3.100000e+10,2.000000e+10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Tanzania,3.000000e+10,0.000000e+00,3.000000e+10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Australia,2.830148e+10,0.000000e+00,2.830148e+10,1.725000e+10,3.092075e+10,1.768464e+11,0.000000e+00,0.000000e+00,0.000000e+00
Indonesia,2.000000e+10,2.378435e+09,2.237844e+10,0.000000e+00,1.738192e+09,1.370379e+10,0.000000e+00,0.000000e+00,1.773545e+10
Nigeria,1.069236e+10,6.842105e+09,1.753447e+10,0.000000e+00,1.371910e+10,1.429381e+10,0.000000e+00,0.000000e+00,0.000000e+00
Papua New Guinea,1.453197e+10,0.000000e+00,1.453197e+10,8.838266e+08,8.250000e+09,1.900000e+10,0.000000e+00,0.000000e+00,0.000000e+00
Argentina,1.000000e+10,0.000000e+00,1.000000e+10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.553628e+08,0.000000e+00
United Arab Emirates,5.229764e+09,0.000000e+00,5.229764e+09,0.000000e+00,0.000000e+00,4.140230e+09,0.000000e+00,0.000000e+00,0.000000e+00
Mauritania,3.450000e+09,1.159200e+09,4.609200e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Equatorial Guinea,4.243819e+09,0.000000e+00,4.243819e+09,0.000000e+00,1.500000e+09,1.500000e+09,0.000000e+00,0.000000e+00,0.000000e+00
Israel,2.837364e+09,0.000000e+00,2.837364e+09,0.000000e+00,9.420000e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Malaysia,2.020000e+09,0.000000e+00,2.020000e+09,0.000000e+00,0.000000e+00,1.850165e+10,0.000000e+00,0.000000e+00,0.000000e+00
Republic of the Congo,7.944620e+08,0.000000e+00,7.944620e+08,6.809674e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Oman,0.000000e+00,5.447671e+08,5.447671e+08,0.000000e+00,0.000000e+00,4.070115e+09,0.000000e+00,0.000000e+00,0.000000e+00
Cameroon,5.000000e+08,0.000000e+00,5.000000e+08,0.000000e+00,2.182583e+09,1.200000e+09,0.000000e+00,0.000000e+00,0.000000e+00
Morocco,0.000000e+00,3.813370e+07,3.813370e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Egypt,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.723836e+09,4.808836e+09,0.000000e+00,0.000000e+00,0.000000e+00
Brazil,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.532177e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Algeria,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.598347e+10,0.000000e+00,0.000000e+00,4.249184e+09
Angola,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+10,0.000000e+00,0.000000e+00,0.000000e+00
Brunei,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.360211e+09,0.000000e+00,0.000000e+00,0.000000e+00
Yemen,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.922323e+09,0.000000e+00
Colombia,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.837364e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Venezuela,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.924830e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Libya,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.743255e+09,0.000000e+00
Peru,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.800000e+09,0.000000e+00,0.000000e+00,0.000000e+00
Norway,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.182825e+09,0.000000e+00,0.000000e+00,0.000000e+00
Turkmenistan,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.178435e+08,0.000000e+00,0.000000e+00,0.000000e+00
Cyprus,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Iran,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.644920e+10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Djibouti,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Kuwait,0.000000e+00,0.000000e+00,0.000000e+00,1.198488e+10,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Timor-Leste,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.042902e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Trinidad and Tobago,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.681188e+09,0.000000e+00,7.188119e+08,0.000000e+00
Total,5.661540e+11,6.726451e+10,6.334185e+11,8.088264e+10,4.010398e+11,4.008866e+11,8.842993e+09,7.506713e+09,2.198464e+10

In [50]:
country_list_from_region_defs = sorted(region_df_touse.Country.to_list())

In [63]:
country_list_to_use = [ \
"Algeria",
"Angola",
"Benin",
"Botswana",
"Burkina Faso",
"Burundi",
"Cabo Verde",
"Cameroon",
"Central African Republic",
"Chad",
"Comoros",
"Republic of the Congo",
"DR Congo",
"Côte d'Ivoire",
"Djibouti",
"Egypt",
"Equatorial Guinea",
"Eritrea",
"Eswatini",
"Ethiopia",
"Gabon",
"The Gambia",
"Ghana",
"Guinea",
"Guinea-Bissau",
"Kenya",
"Lesotho",
"Liberia",
"Libya",
"Madagascar",
"Malawi",
"Mali",
"Mauritania",
"Mauritius",
"Morocco",
"Mozambique",
"Namibia",
"Niger",
"Nigeria",
"Rwanda",
"Sao Tome and Principe",
"Senegal",
"Seychelles",
"Sierra Leone",
"Somalia",
"South Africa",
"South Sudan",
"Sudan",
"Tanzania",
"Togo",
"Tunisia",
"Uganda",
"Western Sahara",
"Zambia",
"Zimbabwe" ]

change_these = {
    'Republic of the Congo':'Congo',
    'The Gambia':'Gambia'
}

In [64]:
set(country_list_to_use)-set(country_list_from_region_defs)

{'Botswana',
 'Burundi',
 'Cabo Verde',
 'Comoros',
 'Mauritius',
 'Sao Tome and Principe',
 'Seychelles',
 'Somalia',
 'Zimbabwe'}

In [65]:
pandas.options.display.float_format = '{:,.5f}'.format
cost_by_country_export_df.loc[cost_by_country_export_df.index.isin(country_list_to_use)][['Proposed','Construction']].reindex(country_list_to_use).replace(numpy.nan,0).rename(index=change_these)/1e9

                          Proposed  Construction
Algeria                    0.00000       0.00000
Angola                     0.00000       0.00000
Benin                      0.00000       0.00000
Botswana                   0.00000       0.00000
Burkina Faso               0.00000       0.00000
Burundi                    0.00000       0.00000
Cabo Verde                 0.00000       0.00000
Cameroon                   0.50000       0.00000
Central African Republic   0.00000       0.00000
Chad                       0.00000       0.00000
Comoros                    0.00000       0.00000
Congo                      0.79446       0.00000
DR Congo                   0.00000       0.00000
Côte d'Ivoire              0.00000       0.00000
Djibouti                   0.00000       0.00000
Egypt                      0.00000       0.00000
Equatorial Guinea          4.24382       0.00000
Eritrea                    0.00000       0.00000
Eswatini                   0.00000       0.00000
Ethiopia                   0.00000       0.00000
Gabon                      0.00000       0.00000
Gambia                     0.00000       0.00000
Ghana                      0.00000       0.00000
Guinea                     0.00000       0.00000
Guinea-Bissau              0.00000       0.00000
Kenya                      0.00000       0.00000
Lesotho                    0.00000       0.00000
Liberia                    0.00000       0.00000
Libya                      0.00000       0.00000
Madagascar                 0.00000       0.00000
Malawi                     0.00000       0.00000
Mali                       0.00000       0.00000
Mauritania                 3.45000       1.15920
Mauritius                  0.00000       0.00000
Morocco                    0.00000       0.03813
Mozambique                24.00000       7.00000
Namibia                    0.00000       0.00000
Niger                      0.00000       0.00000
Nigeria                   10.69236       6.84211
Rwanda                     0.00000       0.00000
Sao Tome and Principe      0.00000       0.00000
Senegal                    0.00000       0.00000
Seychelles                 0.00000       0.00000
Sierra Leone               0.00000       0.00000
Somalia                    0.00000       0.00000
South Africa               0.00000       0.00000
South Sudan                0.00000       0.00000
Sudan                      0.00000       0.00000
Tanzania                  30.00000       0.00000
Togo                       0.00000       0.00000
Tunisia                    0.00000       0.00000
Uganda                     0.00000       0.00000
Western Sahara             0.00000       0.00000
Zambia                     0.00000       0.00000
Zimbabwe                   0.00000       0.00000

In [66]:
cost_by_country_import_df.loc[cost_by_country_import_df.index.isin(country_list_to_use)][['Proposed','Construction']].reindex(country_list_to_use).replace(numpy.nan,0).rename(index=change_these)/1e9

                          Proposed  Construction
Algeria                    0.00000       0.00000
Angola                     0.00000       0.00000
Benin                      0.00000       0.00000
Botswana                   0.00000       0.00000
Burkina Faso               0.00000       0.00000
Burundi                    0.00000       0.00000
Cabo Verde                 0.00000       0.00000
Cameroon                   0.00000       0.00000
Central African Republic   0.00000       0.00000
Chad                       0.00000       0.00000
Comoros                    0.00000       0.00000
Congo                      0.00000       0.00000
DR Congo                   0.00000       0.00000
Côte d'Ivoire              0.05231       0.00000
Djibouti                   0.00000       0.00000
Egypt                      0.00000       0.00000
Equatorial Guinea          0.00000       0.00000
Eritrea                    0.00000       0.00000
Eswatini                   0.00000       0.00000
Ethiopia                   0.00000       0.00000
Gabon                      0.00000       0.00000
Gambia                     0.00000       0.00000
Ghana                      0.00000       0.35000
Guinea                     0.30000       0.00000
Guinea-Bissau              0.00000       0.00000
Kenya                      0.00000       0.00000
Lesotho                    0.00000       0.00000
Liberia                    0.00000       0.00000
Libya                      0.00000       0.00000
Madagascar                 0.00000       0.00000
Malawi                     0.00000       0.00000
Mali                       0.00000       0.00000
Mauritania                 0.00000       0.00000
Mauritius                  0.00000       0.00000
Morocco                    4.50000       0.00000
Mozambique                 0.55000       0.00000
Namibia                    0.00000       0.00000
Niger                      0.00000       0.00000
Nigeria                    0.00000       0.00000
Rwanda                     0.00000       0.00000
Sao Tome and Principe      0.00000       0.00000
Senegal                    0.00000       0.00000
Seychelles                 0.00000       0.00000
Sierra Leone               0.00000       0.00000
Somalia                    0.00000       0.00000
South Africa               2.27530       0.00000
South Sudan                0.00000       0.00000
Sudan                      0.00000       0.00000
Tanzania                   0.00000       0.00000
Togo                       0.00000       0.00000
Tunisia                    0.00000       0.00000
Uganda                     0.00000       0.00000
Western Sahara             0.00000       0.00000
Zambia                     0.00000       0.00000
Zimbabwe                   0.00000       0.00000

In [67]:
mtpa_by_country_export_df.loc[mtpa_by_country_export_df.index.isin(country_list_to_use)].reindex(country_list_to_use)[['Proposed','Construction','Operating']].replace(numpy.nan,0).rename(index=change_these)

                          Proposed  Construction  Operating
Algeria                    0.00000       0.00000   29.34000
Angola                     0.00000       0.00000    5.20000
Benin                      0.00000       0.00000    0.00000
Botswana                   0.00000       0.00000    0.00000
Burkina Faso               0.00000       0.00000    0.00000
Burundi                    0.00000       0.00000    0.00000
Cabo Verde                 0.00000       0.00000    0.00000
Cameroon                   1.30000       0.00000    2.40000
Central African Republic   0.00000       0.00000    0.00000
Chad                       0.00000       0.00000    0.00000
Comoros                    0.00000       0.00000    0.00000
Congo                      1.40000       0.00000    0.00000
DR Congo                   0.00000       0.00000    0.00000
Côte d'Ivoire              0.00000       0.00000    0.00000
Djibouti                   0.00000       0.00000    0.00000
Egypt                      0.00000       0.00000   12.20000
Equatorial Guinea          4.40000       0.00000    3.70000
Eritrea                    0.00000       0.00000    0.00000
Eswatini                   0.00000       0.00000    0.00000
Ethiopia                   0.00000       0.00000    0.00000
Gabon                      0.00000       0.00000    0.00000
Gambia                     0.00000       0.00000    0.00000
Ghana                      0.00000       0.00000    0.00000
Guinea                     0.00000       0.00000    0.00000
Guinea-Bissau              0.00000       0.00000    0.00000
Kenya                      0.00000       0.00000    0.00000
Lesotho                    0.00000       0.00000    0.00000
Liberia                    0.00000       0.00000    0.00000
Libya                      0.00000       0.00000    0.00000
Madagascar                 0.00000       0.00000    0.00000
Malawi                     0.00000       0.00000    0.00000
Mali                       0.00000       0.00000    0.00000
Mauritania                 7.50000       2.52000    0.00000
Mauritius                  0.00000       0.00000    0.00000
Morocco                    0.00000       0.07000    0.00000
Mozambique                15.20000       3.40000    0.00000
Namibia                    0.00000       0.00000    0.00000
Niger                      0.00000       0.00000    0.00000
Nigeria                   16.02000       8.00000   23.02000
Rwanda                     0.00000       0.00000    0.00000
Sao Tome and Principe      0.00000       0.00000    0.00000
Senegal                    0.00000       0.00000    0.00000
Seychelles                 0.00000       0.00000    0.00000
Sierra Leone               0.00000       0.00000    0.00000
Somalia                    0.00000       0.00000    0.00000
South Africa               0.00000       0.00000    0.00000
South Sudan                0.00000       0.00000    0.00000
Sudan                      0.00000       0.00000    0.00000
Tanzania                  10.00000       0.00000    0.00000
Togo                       0.00000       0.00000    0.00000
Tunisia                    0.00000       0.00000    0.00000
Uganda                     0.00000       0.00000    0.00000
Western Sahara             0.00000       0.00000    0.00000
Zambia                     0.00000       0.00000    0.00000
Zimbabwe                   0.00000       0.00000    0.00000

In [68]:
mtpa_by_country_import_df.loc[mtpa_by_country_import_df.index.isin(country_list_to_use)].reindex(country_list_to_use)[['Proposed','Construction','Operating']].replace(numpy.nan,0).rename(index=change_these)

                          Proposed  Construction  Operating
Algeria                    0.00000       0.00000    0.00000
Angola                     0.00000       0.00000    0.00000
Benin                      0.00000       0.00000    0.00000
Botswana                   0.00000       0.00000    0.00000
Burkina Faso               0.00000       0.00000    0.00000
Burundi                    0.00000       0.00000    0.00000
Cabo Verde                 0.00000       0.00000    0.00000
Cameroon                   0.00000       0.00000    0.00000
Central African Republic   0.00000       0.00000    0.00000
Chad                       0.00000       0.00000    0.00000
Comoros                    0.00000       0.00000    0.00000
Congo                      0.00000       0.00000    0.00000
DR Congo                   0.00000       0.00000    0.00000
Côte d'Ivoire              0.38000       0.00000    0.00000
Djibouti                   0.00000       0.00000    0.00000
Egypt                      0.00000       0.00000    5.70000
Equatorial Guinea          0.00000       0.00000    0.00000
Eritrea                    0.00000       0.00000    0.00000
Eswatini                   0.00000       0.00000    0.00000
Ethiopia                   0.00000       0.00000    0.00000
Gabon                      0.00000       0.00000    0.00000
Gambia                     0.00000       0.00000    0.00000
Ghana                      0.00000       1.70000    0.00000
Guinea                     0.00000       0.00000    0.00000
Guinea-Bissau              0.00000       0.00000    0.00000
Kenya                      0.00000       0.00000    0.00000
Lesotho                    0.00000       0.00000    0.00000
Liberia                    0.00000       0.00000    0.00000
Libya                      0.00000       0.00000    0.00000
Madagascar                 0.00000       0.00000    0.00000
Malawi                     0.00000       0.00000    0.00000
Mali                       0.00000       0.00000    0.00000
Mauritania                 0.00000       0.00000    0.00000
Mauritius                  0.00000       0.00000    0.00000
Morocco                    5.15000       0.00000    0.00000
Mozambique                 0.50000       0.00000    0.00000
Namibia                    0.00000       0.00000    0.00000
Niger                      0.00000       0.00000    0.00000
Nigeria                    0.00000       0.00000    0.00000
Rwanda                     0.00000       0.00000    0.00000
Sao Tome and Principe      0.00000       0.00000    0.00000
Senegal                    0.00000       0.00000    0.11000
Seychelles                 0.00000       0.00000    0.00000
Sierra Leone               0.00000       0.00000    0.00000
Somalia                    0.00000       0.00000    0.00000
South Africa               6.00000       0.00000    0.00000
South Sudan                0.00000       0.00000    0.00000
Sudan                      0.00000       0.00000    0.00000
Tanzania                   0.00000       0.00000    0.00000
Togo                       0.00000       0.00000    0.00000
Tunisia                    0.00000       0.00000    0.00000
Uganda                     0.00000       0.00000    0.00000
Western Sahara             0.00000       0.00000    0.00000
Zambia                     0.00000       0.00000    0.00000
Zimbabwe                   0.00000       0.00000    0.00000